 <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-vlOMx0hKjUCl4WzuhIhSNZSm2yQCaf0mOU1hEDK/iztH3gU4v5NMmJln9273A6Jz" crossorigin="anonymous">


 {% if messages and not zurb_foundation_messages_modal %}    <!--/.l-messages -->
    <section class="l-messages row">
      <div class="large-7 large-centered columns">
        {{ messages }}
      </div>
    </section>
    <!--/.l-messages -->
  {% endif %}
{{ page.content.metatags }}



<aside class="off-canvas position-left" id="offCanvasLeft1" data-off-canvas>
{{ page.left_off_canvas }}
</aside>

<div class="off-canvas-content" data-off-canvas-content>  



<section class="header-wrapper" id="headerVideo" role="document" class="page">
  <header class="nav-wrapper l-header" role="banner">
        {% if linked_site_name or linked_logo %}
          <div class="large-2 columns">
            {% if linked_logo %}
              {{ linked_logo }}
            {% endif %}
             <a class="menu-icon" data-toggle="offCanvasLeft1"></a><p class="menu-name">Menu</p>

          </div>
        {% endif %}
        
        <div class="left large-7 columns">
           {% if page.header %}
              {{ page.header }}
            {% endif %}
         {% if show_account_info %}
          <div class="{{ site_slogan ? 'large-6' : 'large-4 columns large-offset-8' }} columns hide-for-small">
            <p>
              {% if logged_in %}
               <!--  <a href="{{ path('user.page') }}">{{ 'My Account'|t }}</a>
                <a href="{{ path('user.logout') }}">{{ 'Logout'|t }}</a> -->
              {% else %}
               <!--  <a href="{{ path('user.login') }}">{{ 'Login'|t }}</a>
                <a href="{{ path('user.register') }}">{{ 'Sign Up'|t }}</a> -->
              {% endif %}
            </p>
          </div>
        {% endif %}
      </div>  
  </header>


  <section class="row align-center width100 section1-content">
      <div class="large-12 columns text-center">
            <p class="drumIcon">
              <img src="/themes/ncdrum/logo.svg"/>
          </p>
            <p class="text-center mini-text">NORTH CAROLINA</p>
            <h1 class="text-center">DRUM COMMUNITY</h1>
            <a class="instagram-homepage" href="https://www.instagram.com/nc_drum_community/"><i class="fab fa-instagram"></i>Follow Us</a>
            <p>Website coming soon<span></p>

      </div>
  </section>

</section><!-- End Header Section -->
</div>

<div class="reveal" id="exampleModal1" data-reveal>
  <h1>Awesome. I Have It.</h1>
  <p class="lead">Your couch. It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="hidden">
<p><button class="button" data-open="exampleModal1">Click me for a modal</button></p>

</div>







