{#
/**
 * @file
 * Zurb Foundations's theme implementation to display a single page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - linked_logo: The logo image, linked to <front>.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - linked_site_name: The name of the site that also links to <front>.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.meta_header
 * - page.header
 * - page.help
 * - page.highlighted
 * - page.content
 * - page.sidebar_first
 * - page.sidebar_second
 * - page.footer_first
 * - page.footer_middle
 * - page.footer_last
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}
  
    {% if messages and not zurb_foundation_messages_modal %}
      <div class="l-messages row">
        <div class="large-12 columns">
          {{ messages }}
        </div>
      </div>
    {% endif %}
    <!--/.l-messages -->

    {% if background_url is defined %} 
    <div class="header-image-wrapper" style="background-image: url({{background_url}});"  data-image-src="{{background_url}}">
    {% endif %}

   {# if (!empty($node->field_background_image['und'][0]['filename'] %}
   <div class="header-image-wrapper" style="background-image:url('<?= file_create_url(file_build_uri($node->field_background_image['und'][0]['filename'])) ?>');">
   {% elseif page["#views_contextual_links_info"]["views_ui"]["view_name"] === "our_team") )  %}
   <div class="header-image-wrapper" style="background-image: url(/sites/all/themes/tpp/images/team-bg.png);"  data-image-src="/sites/all/themes/tpp/images/team-bg.png">
   {% elseif page["#views_contextual_links_info"]["views_ui"]["view_name"] === "partners") )  %}
   <div class="header-image-wrapper" style="background-image: url(/sites/all/themes/tpp/images/partners.png);"  data-image-src="/sites/all/themes/tpp/images/partners.png">
   {% else %}
   <div class="header-image-wrapper" style="background-image: url(/sites/all/themes/tpp/images/ero-bg.png);"  data-image-src="/sites/all/themes/tpp/images/ero-bg.png">
   {% endif %}
    #}

    <div class="header-image" >
      <section class="header-wrapper" role="document" class="page">
        <header class="nav-wrapper l-header" role="banner">
           {% if page.top_bar %} 
                <!--.top-bar -->
                {% if page.top_bar_classes %}
                <div class="{{ page.top_bar_classes }}">
                      {% endif %}
                      <nav class="top-bar dots" {{ page.top_bar_options }}>
                            <ul class="title-area">
                                    <li class="logo ">
                                   {% if page.linked_logo %} {{ page.linked_logo }} {% endif %} ?>
                                  </li>
                                  <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                                  <li class="toggle-topbar menu-icon"><a href="#">
                                    <span>{{ page.top_bar_menu_text }}</span>
                                  </a></li>
                            </ul>
                          
                            <div class="top-bar-section">
                                {% if page.top_bar_main_menu %}
                                {{ page.top_bar_main_menu }}
                  
                                {% endif %}

                                {% if page.top_bar_secondary_menu %}
                                {{ page.top_bar_secondary_menu }}

                              {% endif %}
                                 <div class="header-btn"> 
                                  <a href="/request-service" class="request right show-for-large-up">Start a Case</a>
                              </div>
                            </div>
                      </nav>
                       {% if page.top_bar_classes %}
                  </div>
                  {% endif %}
                  <!--/.top-bar -->
                  {% endif %}

         </header>

              {% if title %}
                  <div class="callout2">
                    <div class="row">
                    <h1 id="page-title" class="small-9 large-centered columns center title">{{ title }}</h1>
                  </div>
                </div>
              {% endif %}
           </div>
          

        </div>
    </div>
</section>


<main role="main" class="main-area">
<!--var_dump($page); exit();-->  
  {% if page.sidebar_second is empty %}

      <!-- NO SIDEBAR FULL 12 Columns -->
        <section class="row content-row">
            <div class="small-12 large-12 columns main-content-area">
              {{ page.content }}
              
          </div>
      </section> 
  
   {% else %}
    
    <!-- SHOW SIDEBAR -->
    <div class="row content-row">
            <div class="small-12 large-7 columns main-content-area-sidebar">
            {{ page.content }}
            </div>

            <div class="show-for-large-up large-5 columns right-sidebar ">
                {{ page.sidebar_second }}
            </div>
          <!--/.main region -->
    </div>

{% endif %}


</main>
<!--/.main-->  


<footer class="footer" id="footer">

 <div class="row footer-wrapper">
        <div class="small-12 centered columns">
            <div class="row">
                    <div class="small-12 large-4 columns footer-first-col show-for-medium-up">
                    {{ page.footer_firstcolumn }}
                    </div>

                    <div class="small-12 large-4 columns footer-second-col show-for-medium-up">
                     {{ page.footer_secondcolumn }}
                    </div>

                    <div class="small-12 large-4 columns footer-third-col">
                     {{ page.footer_thirdcolumn }}
                    </div>
            </div>
        </div>
</div>

          <div class="bottom-bar">
                <div class="row">
                  <div class="small-12 medium-6 large-6 columns bar-col1">
                     {{ page.footer_copyright }}

                  </div>

                   <div class="small-12 medium-6 large-6 columns bar-col2">
                      {{ page.footer_social }}
                  </div>

                </div>
          </div><!-- End Bottom Bar -->

</footer><!-- End Footer Wrapper -->

<!-- Preloader -->
<div id="preloader">
  <div class="background-dots">
    <div id="status">
      <div style="width:90%; margin:0 auto;">
        <h3 style="color:#ffffff">Protection Plus is Loading</h3>
        <!-- Preloader -->
<div id="preloader">
  <div class="background-dots">
    <div id="status">
      <div style="width:90%; margin:0 auto;">
        <h3 style="color:#ffffff">Protection Plus is Loading</h3>
         <div class="sk-cube-grid">
          <div class="sk-cube sk-cube1"></div>
          <div class="sk-cube sk-cube2"></div>
          <div class="sk-cube sk-cube3"></div>
          <div class="sk-cube sk-cube4"></div>
          <div class="sk-cube sk-cube5"></div>
          <div class="sk-cube sk-cube6"></div>
          <div class="sk-cube sk-cube7"></div>
          <div class="sk-cube sk-cube8"></div>
          <div class="sk-cube sk-cube9"></div>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>

  {% if messages and zurb_foundation_messages_modal %} {{ messages }} {% endif %}

<!--/.page -->
