// Non-modular or client styles for asides or sidebars.
.off-canvas {
	background-color:map-get($foundation-palette, 'primary');

	ul.off-canvas-list {
		padding:1rem 3rem;
				li{
					list-style-type: none;

						a {
							font-size:3rem;
							color:darken(map-get($foundation-palette, 'primary'), 30%);
						}
				}
			

	}

}