//******************************* HEADER STYLES *******************************//

header {
	float:left;
	width:100%;
	margin:0 3rem;
	padding:1rem 0;
}

        ul.ui-video-background-controls {
        display:none;
        }