/******************************* Video Background *******************************/
.video-background  {
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
    z-index: -100;
    top:0;


    @media only screen and (max-width: 768px) {
     display:none;
    }
}

.video-background video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

  .ui-video-background {
  display:none;
  }


.instagram-homepage {
  color:#ffffff;
  font-size:2rem;

    p {
      color:#ffffff;
    }

    i {
      margin-right:1rem;
    }

     @media only screen and (max-width: 980px) {
     font-size:2rem;
     }
}

p.drumIcon {
    width: 20%;
    text-align: cemter;
    margin: 0 auto;
}
p.mini-text {
   font-family: $fonttwo;
    letter-spacing: 1.6rem;
    font-size: 1.7rem;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-indent: 1.1rem;

       @include breakpoint(medium down){
       letter-spacing: 0.5rem;
       }
}

h1 {
    color: #ffffff;
    font-size: 8rem;
    margin: 0;
    padding: 0;
    line-height: 6rem;
    margin-bottom: 2rem;
       @include breakpoint(medium down){
       font-size: 5rem;
       line-height: 3.5rem;
       }
}

p{
  color:#ffffff;
  font-size:1.5rem;
  font-style:italic;
      @media only screen and (max-width: 980px) {
     font-size:0.9rem;
     }
}

.section1-content {
    position: relative;
}