html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    //overflow-x: hidden !important; 
    //overflow:hidden !important;
}

//******************************* Preloader *******************************//

#preloader {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
//background-color:$primary-color; 
z-index:999; 
}

.background-dots {

background-image:url('/themes/ncdrum/images/subtle_dots.png');
position:absolute;
//z-index: 1;
position: absolute;
min-width: 100%;
height: 100%;
top:0;
}

#status {
text-align:center;
width:100%;
height:100%;
position:absolute;
//background-image:url(/sites/all/themes/tpp/images/cloud-preloader.gif); /* loading animation */
background-repeat:no-repeat;
background-position:center;

      h3 {
      padding-top:20%;
      }
}

.sk-cube-grid {
  width: 80px;
  height: 80px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #ffffff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}


//******************************* Universal Styles *******************************//

      
a:hover {
transition:all 0.6s ease;
}

.right {
float:right;
}

 .left {
float:left;
}

.center {
text-align:center;
}

.width100 {
  width:100%;
}

.transparent {
    //@include transparent (#199eff, 0.7); 
    background-image:url('/themes/ncdrum/images/subtle_dots.png');
    position:absolute;
    //z-index: 1;
    min-width: 100%;
    height: 100%;
    top:0;
    // display: flex;
    // align-items: center;
    // align-content: center;

      @media only screen and (max-width: 980px) {
      background-image:url('/themes/ncdrum/video/drummer.jpg');
      background-size:cover;
      }
}




