p.menu-name {
	display:inline-block;
	margin-left:0.5rem;
	font-size:1rem;
}

a.menu-icon {
	margin-left:1rem;
}

img.logo {
	max-width: 30%;

	  @include breakpoint(medium down){
     	display:none;
     }
}